<h2>Add New Transaction</h2>

<% if flash[:error] %>
  <div class="flash-error"><%= flash[:error] %></div>
<% end %>

<%= form_with url: transactions_path, method: :post do |form| %>
  <div>
    <%= form.label :transaction_date %>
    <%= form.date_field :transaction_date, value: params[:transaction_date] %>
  </div>
  <br>
  <div>
    <%= form.label :account_number %>
    <%= form.text_field :account_number, 
        maxlength: 12, 
        pattern: "\\d{12}", 
        placeholder: "Enter only 12 digits", 
        required: true,
        size: 20 %>
  </div>
  <br>
  <div>
    <%= form.label :Account_holder_name %>
    <%= form.text_field :account_holder_name, value: params[:account_holder_name] %>
  </div>
  <br>
  <div>
    <%= form.label :amount %>
    <%= form.text_field :amount, 
        value: params[:amount],
        min: 0.01,
        pattern: "\\d+\\.\\d{2}",
        placeholder: "0.00",
        required: true %>
  </div>
  <br>
  <%= form.submit "Create Transaction", class: "btn-submit" %>
<% end %>
